<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>Hi, i'm Tejinder Garcha, the devloper of Recipe Buddy!</p>
    <p>This website will help you manage your nutritional information for your meals, add them and edit them.<p>
  </body>
</html>

