<!doctype html>
<html>
  <head>
   <title> Add Food for <%=shopName%></title>
  </head>
                                                                                                                                                                        
  <body>
   <h1> Add Food for <%=shopName%></h1>
                                                                                                                                                                        
                                                                                                                                                                        
<form method="POST" action="/bookadded">


<label for="name">Food name:</label>
<input id="name" type="text" name="name" value="name" /><br><br>
                                                                                                                                                                        
<label for="values">Typical values per:</label>
                                                                                                                                                                                 
<input id="values" type="text" name="values" value="values" /><br><br>

<label for="unit">Unit of typical value:</label>

<input id="unit" type="text" name="unit" value="unit" /><br><br>

<label for="Carbs">Carbs:</label>

<input id="carbs" type="text" name="carbs" value="carbs" /><br><br>

<label for="fat">Fat:</label>

<input id="fat" type="text" name="fat" value="fat" /><br><br>

<label for="protein">Protein:</label>

<input id="protein" type="text" name="protein" value="protein" /><br><br>

<label for="sugar">Sugar:</label>

<input id="sugar" type="text" name="sugar" value="sugar" /><br><br>

<label for="slt">Salt:</label>

<input id="salt" type="text" name="salt" value="salt" /><br><br>
                                                                                                                                                                        
  <input type="submit" value="Add Food" />
                                                                                                                                                                        
</form>
                                                                                                                                                                        
  </body>
</html>

