<!doctype html>
<html>
  <head>
   <title> Bargains <%=shopName%></title>
  </head>                                                                                                                                                     
  <body>
   <h1> Bargain at <%=shopName%></h1>
   <ul>
        <% for(let i = 0; i < availableBooks.length; i++) { %>
          <li><%= availableBooks[i].name+" £"+availableBooks[i].price %></li>
        <% } %>
   </ul>

 </body>
</html>
                                                                                                                                                         
                                                                                                                                                                       
                                                                                                                                                                   
                                                                                                                                                                        
                                                                                                                                                                       
                                                                                                                                                                      
                                                                          
                                                                                                                               
