<!doctype html>
<html>
 <head> 
	<title>Login for <%=shopName%> </title>
 </head>
 
 <body>
	<h1> Login for <%=shopName%> </h1>
	<form method="POST" action="/loggedin">
		<p>Username: <input id="username" type="text" name="username" value="username" /></p>
		<p>Password: <input id="pass" type="text" name="pass" value="pass" /></p>
		<input type="submit" value="Login" />
	</form>
 </body>
</html>
